<div class="container">
    <div class="card" *ngFor="let user of usuarios">
        <img [src]= user.avatar>
        <div>
            <h6>{{user.first_name }} {{user.last_name}}</h6>
            <p id="email">{{user.email}}</p>
            <p>This is a longer card with supporting text below as a natural.</p>
        </div>
        <span>ID: {{user.id}}</span>
    </div>
</div>
<!-- Luego de haber leido la informacion que venia de la API con los servicios
     de haber mapeado el servicio para solo extraer la data, pasamos a la creacion del store
     creando cada uno en carpetas.. effects, actions, reducers -->

     